@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  -moz-animation: fadeIn 1s 1 forwards;
  -o-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }

* {
  font-family: 'Avenir', sans-serif;
  user-select: none; }

h1 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -3px; }

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.8; }

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  line-height: 1.8; }

h4 {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn {
  border-radius: 0;
  padding: .5rem 1.5rem .5rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

main {
  width: 100vw;
  height: 100vh; }
  main #map {
    width: 100vw;
    height: 100vh;
    position: absolute; }
    main #map .mapboxgl-ctrl-logo {
      pointer-events: none; }
    main #map .mapboxgl-ctrl-attrib {
      display: none; }
  main nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    transition: 0.5s all;
    transform: translateX(0); }
    main nav.active {
      transform: translateX(33vw); }
    main nav button {
      display: block;
      margin: 20px;
      height: 90px;
      width: 90px;
      padding: 15px;
      background: rgba(0, 0, 0, 0.85);
      border: none;
      transition: 0.5s all; }
      main nav button svg {
        width: 100%;
        height: auto; }
        main nav button svg path {
          fill: white; }
      main nav button.active {
        opacity: 0.5; }
      main nav button#nav-explorer svg {
        width: 90%; }
      main nav button#nav-search svg {
        width: 80%; }
      main nav button#nav-list svg {
        width: 80%; }
  main aside {
    background: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 33vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    transition: 0.5s all;
    transform: translateX(-33vw); }
    main aside.active {
      transform: translateX(0); }
    main aside h1 {
      border-bottom: 1px solid gray;
      padding: 24px 20px 25px;
      letter-spacing: -1px;
      margin-bottom: 20px; }

#intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  z-index: 999;
  text-align: center;
  padding: 300px 200px; }
  #intro h1, #intro h2, #intro h3 {
    color: white; }
  #intro h1 {
    margin-bottom: 40px; }
  #intro h2 {
    margin-bottom: 120px; }
  .kiosk #intro .footer {
    display: none; }
  #intro .footer address {
    color: white; }
    #intro .footer address .btn {
      color: black; }

#search-panel form {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 16px 0;
  height: 88px; }
  #search-panel form .search-icon {
    fill: white;
    width: 24px;
    height: auto;
    margin: 0 10px 0 20px;
    vertical-align: middle; }
  #search-panel form .clear-search {
    background: transparent;
    border: none;
    padding: 0; }
    #search-panel form .clear-search svg {
      fill: gray;
      width: 48px;
      height: 48px;
      padding: 12px; }
  #search-panel form input {
    background: none;
    border: none;
    font-size: 1.6rem;
    vertical-align: middle;
    width: 26vw;
    color: white; }
    #search-panel form input::placeholder {
      color: gray;
      font-style: italic; }
    #search-panel form input:focus, #search-panel form input:active {
      outline: none; }
#search-panel #search-panel-results {
  margin: 0;
  padding: 0;
  height: 500px;
  overflow: auto; }
  #search-panel #search-panel-results li {
    border-bottom: 1px solid #666;
    padding: 16px 20px 18px;
    color: white; }
    #search-panel #search-panel-results li img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      overflow: hidden; }
#search-panel .ui-keyboard {
  top: auto;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid gray; }
  #search-panel .ui-keyboard div {
    font-size: 1.3rem; }
  #search-panel .ui-keyboard .ui-keyboard-button {
    border: none;
    padding: 0;
    line-height: 2.2em;
    margin: 2px; }
  #search-panel .ui-keyboard .ui-keyboard-accept {
    padding: 0 14px; }
    #search-panel .ui-keyboard .ui-keyboard-accept span {
      font-size: 1rem;
      vertical-align: bottom; }

#explore-panel ul li {
  color: white; }

main aside {
  overflow: auto; }
  main aside h1 {
    color: white;
    font-size: 2rem; }
    main aside h1 small {
      display: block;
      font-size: 60%; }
  main aside .item-list {
    padding: 0 20px 30px; }
    main aside .item-list ol {
      margin: 0;
      padding: 0;
      list-style: none; }
      main aside .item-list ol li {
        color: white;
        margin-bottom: 40px;
        border-bottom: 1px solid #999;
        padding-bottom: 20px; }
        main aside .item-list ol li:last-of-type {
          border-bottom: 0;
          margin-bottom: 0; }
    main aside .item-list .field__label,
    main aside .item-list .field--name-created,
    main aside .item-list .field--name-uid,
    main aside .item-list .field--name-thumbnail {
      display: none; }
    main aside .item-list .paragraph--type--blockquote {
      padding-left: 30px; }
    main aside .item-list .field--name-field-blockquote-:before {
      content: "\2014"; }

/*# sourceMappingURL=main.css.map */
