@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  -moz-animation: fadeIn 1s 1 forwards;
  -o-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }

* {
  font-family: 'PT Sans', sans-serif;
  user-select: none; }

.kiosk *:focus {
  outline: none !important; }

h1 {
  font-size: 9rem;
  font-weight: 700;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: -3px;
  text-transform: uppercase; }

h2 {
  font-size: 1.8rem;
  font-style: italic;
  font-family: 'PT Serif';
  line-height: 1.8; }

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.8; }

h4 {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn {
  border-radius: 0;
  padding: .5rem 1.5rem .5rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.lg .lg-next:before, .lg .lg-next:after,
.lg .lg-prev:before,
.lg .lg-prev:after {
  content: ''; }
.lg .lg-next svg,
.lg .lg-prev svg {
  width: 50px; }
  .lg .lg-next svg path,
  .lg .lg-prev svg path {
    fill: white; }

main {
  width: 100vw;
  height: 100vh; }
  main #map {
    width: 100vw;
    height: 100vh;
    position: absolute; }
    main #map .mapboxgl-ctrl-logo {
      pointer-events: none; }
    main #map .mapboxgl-ctrl-attrib {
      display: none; }
  main nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    transition: 0.5s all;
    transform: translateX(0); }
    main nav.active {
      transform: translateX(40vw); }
    main nav button {
      display: block;
      margin: 20px;
      height: 90px;
      width: 90px;
      padding: 15px;
      background: rgba(74, 51, 35, 0.9);
      border: none;
      transition: 0.5s all; }
      main nav button svg {
        width: 100%;
        height: auto; }
        main nav button svg path {
          fill: white; }
      main nav button.active {
        opacity: 0.5; }
      main nav button#nav-explore svg {
        width: 80%; }
      main nav button#nav-search svg {
        width: 80%; }
      main nav button#nav-list svg {
        width: 80%; }
  main aside {
    background: rgba(74, 51, 35, 0.9);
    height: 100vh;
    width: 40vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    transition: 0.5s all;
    transform: translateX(-40vw); }
    main aside.active {
      transform: translateX(0); }
    main aside h1 {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      padding: 24px 30px 25px;
      margin-bottom: 0;
      letter-spacing: 0; }

#intro,
#outro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(74, 51, 35, 0.75) 0%, rgba(165, 169, 58, 0.9) 100%);
  z-index: 999;
  text-align: center;
  padding: 300px 200px;
  pointer-events: none; }
  #intro.show,
  #outro.show {
    pointer-events: auto; }
  #intro h1, #intro h2, #intro h3,
  #outro h1,
  #outro h2,
  #outro h3 {
    color: white; }
  #intro h1,
  #outro h1 {
    margin-bottom: 40px; }
  #intro h2,
  #outro h2 {
    margin-bottom: 120px; }
  #intro button,
  #outro button {
    background-color: white;
    border: none;
    font-size: 1.4rem;
    padding: 1rem 2.4rem;
    color: #A5AA3A;
    margin: 0 10px; }
  .kiosk #intro .footer, .kiosk
  #outro .footer {
    display: none; }

#search-panel form {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 16px 0;
  height: 88px; }
  #search-panel form .search-icon {
    fill: white;
    width: 24px;
    height: auto;
    margin: 0 20px 0 30px;
    vertical-align: middle; }
  #search-panel form .clear-search {
    background: transparent;
    border: none;
    padding: 0; }
    #search-panel form .clear-search svg {
      fill: gray;
      width: 48px;
      height: 48px;
      padding: 12px; }
  #search-panel form input {
    background: none;
    border: none;
    font-size: 1.6rem;
    vertical-align: middle;
    width: 31vw;
    color: white;
    outline: none;
    box-shadow: none; }
    #search-panel form input::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-style: italic; }
    #search-panel form input:focus, #search-panel form input:active {
      outline: none;
      box-shadow: none; }
#search-panel #search-panel-results {
  margin: 0;
  padding: 0;
  height: 550px;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
  #search-panel #search-panel-results li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white; }
    #search-panel #search-panel-results li:last-of-type {
      border-bottom: 0; }
    #search-panel #search-panel-results li img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      overflow: hidden;
      display: none; }
#search-panel .ui-keyboard {
  top: auto;
  bottom: 0;
  width: 100%;
  padding: 30px 0; }
  #search-panel .ui-keyboard div {
    font-size: 1.3rem; }
  #search-panel .ui-keyboard .ui-keyboard-button {
    border: none;
    padding: 0;
    line-height: 2.2em;
    margin: 2px; }
  #search-panel .ui-keyboard .ui-keyboard-accept {
    padding: 0 14px; }
    #search-panel .ui-keyboard .ui-keyboard-accept span {
      font-size: 1rem;
      vertical-align: bottom; }

#search-panel ul,
#explore-panel ul,
#list-panel ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #search-panel ul li,
  #explore-panel ul li,
  #list-panel ul li {
    color: white;
    font-size: 1.6rem;
    padding: 20px 40px 20px 30px;
    height: 80px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #search-panel ul li:last-of-type,
    #explore-panel ul li:last-of-type,
    #list-panel ul li:last-of-type {
      border-bottom: none; }
    #search-panel ul li img,
    #explore-panel ul li img,
    #list-panel ul li img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      margin-top: -5px; }

main aside {
  overflow: auto; }
  main aside h1 {
    color: white;
    font-size: 2rem; }
    main aside h1 small {
      display: block;
      font-size: 60%; }
  main aside .item-list {
    padding: 0 30px 30px; }
    main aside .item-list.death-record-list {
      padding-top: 30px; }
    main aside .item-list ol {
      margin: 0;
      padding: 0;
      list-style: none; }
      main aside .item-list ol li {
        color: white;
        margin-bottom: 40px; }
        main aside .item-list ol li:last-of-type {
          border-bottom: 0;
          margin-bottom: 0; }
    main aside .item-list div.col {
      color: white; }
  main aside .field__label,
  main aside .field--name-created,
  main aside .field--name-uid,
  main aside .field--name-thumbnail {
    display: none; }
  main aside .paragraph--type--headline:first-of-type {
    margin-top: 30px; }
  main aside .paragraph--type--headline .field--name-field-title .field__item {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
    text-transform: uppercase; }
  main aside .paragraph--type--headline .field--name-field-subtitle .field__item {
    font-family: 'PT Serif';
    font-style: italic;
    font-size: 1.2rem; }
  main aside .field--name-field-text-block-title .field__item {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase; }
  main aside .field--name-field-text-body-copy ul,
  main aside .field--name-field-text-body-copy ol {
    margin-bottom: 20px; }
    main aside .field--name-field-text-body-copy ul li,
    main aside .field--name-field-text-body-copy ol li {
      margin-bottom: 10px; }
  main aside .paragraph--type--audio-file .media {
    display: block; }
  main aside .paragraph--type--audio-file .field--name-field-media-audio-file {
    margin-top: 30px;
    margin-bottom: 30px; }
  main aside .paragraph--type--audio-file .field--name-field-media-audio-title .field__item {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase; }
  main aside .paragraph--type--blockquote {
    padding-left: 30px; }
    main aside .paragraph--type--blockquote .field--name-field-blockquote-:before {
      content: "\2014"; }
  main aside .paragraph--type--pie-chart .field--name-field-title .field__item {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase; }
  main aside .paragraph--type--pie-chart .field--name-field-chart-rows {
    display: none; }
  main aside .paragraph--type--death-certificate h2 {
    display: none; }
  main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record {
    margin: 30px 0 0; }
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field__item,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field__label {
      display: inline-block;
      width: 49%; }
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-file-number,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-register-number,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-address-latitude,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-address-longitude,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-pod-latitude,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-pod-longitude,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-inquest-date,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-display-in-neighborhood-ex,
    main aside .paragraph--type--death-certificate .field--name-field-death-certificate-record .field--name-field-death-burial-date {
      display: none; }
  main aside .field--name-field-death-certificate-image > .media,
  main aside .field--name-field-death-certificate-image > .field--name-field-media,
  main aside .paragraph--type--gallery > .media,
  main aside .paragraph--type--gallery > .field--name-field-media {
    display: block;
    margin: 0 -30px; }
  main aside .field--name-field-death-certificate-image .field--name-field-media-image-title,
  main aside .paragraph--type--gallery .field--name-field-media-image-title {
    display: none; }
  main aside .field--name-field-death-certificate-image .field--name-field-media-image,
  main aside .paragraph--type--gallery .field--name-field-media-image {
    width: 100%;
    height: 460px;
    padding: 0 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: relative; }
    main aside .field--name-field-death-certificate-image .field--name-field-media-image img,
    main aside .paragraph--type--gallery .field--name-field-media-image img {
      display: block;
      margin: 0 auto;
      width: auto;
      max-width: 100%;
      max-height: 400px; }
    main aside .field--name-field-death-certificate-image .field--name-field-media-image:after,
    main aside .paragraph--type--gallery .field--name-field-media-image:after {
      content: '';
      background: url("../assets/icon-zoom.svg");
      width: 34px;
      height: 34px;
      position: absolute;
      bottom: 20px;
      right: 20px; }
  main aside .field--name-field-death-certificate-image .field--name-field-media-image-caption,
  main aside .paragraph--type--gallery .field--name-field-media-image-caption {
    margin-bottom: 10px;
    padding: 0 30px; }
  main aside .field--name-field-death-certificate-image .field--name-field-media-image-credit,
  main aside .paragraph--type--gallery .field--name-field-media-image-credit {
    padding: 0 30px;
    font-size: 0.8rem;
    font-style: italic; }
  main aside .field--name-field-death-certificate-image .slick-slider .field__item .media,
  main aside .paragraph--type--gallery .slick-slider .field__item .media {
    display: block; }
  main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow,
  main aside .paragraph--type--gallery .slick-slider .slick-arrow {
    position: absolute;
    z-index: 9;
    top: 190px;
    width: 50px;
    opacity: 0.5;
    transition: 0.5s all;
    cursor: pointer; }
    main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow path,
    main aside .paragraph--type--gallery .slick-slider .slick-arrow path {
      fill: white; }
    main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow#slick-arrow-prev,
    main aside .paragraph--type--gallery .slick-slider .slick-arrow#slick-arrow-prev {
      left: 20px; }
      main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow#slick-arrow-prev:hover,
      main aside .paragraph--type--gallery .slick-slider .slick-arrow#slick-arrow-prev:hover {
        left: 10px;
        opacity: 1; }
    main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow#slick-arrow-next,
    main aside .paragraph--type--gallery .slick-slider .slick-arrow#slick-arrow-next {
      right: 20px; }
      main aside .field--name-field-death-certificate-image .slick-slider .slick-arrow#slick-arrow-next:hover,
      main aside .paragraph--type--gallery .slick-slider .slick-arrow#slick-arrow-next:hover {
        right: 10px;
        opacity: 1; }
  main aside .field--name-field-death-certificate-image .slick-slider .slick-dots,
  main aside .paragraph--type--gallery .slick-slider .slick-dots {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: center; }
    main aside .field--name-field-death-certificate-image .slick-slider .slick-dots li,
    main aside .paragraph--type--gallery .slick-slider .slick-dots li {
      margin: 0;
      padding: 0;
      border: 0;
      display: inline-block; }
      main aside .field--name-field-death-certificate-image .slick-slider .slick-dots li button,
      main aside .paragraph--type--gallery .slick-slider .slick-dots li button {
        width: 16px;
        height: 16px;
        padding: 0;
        text-indent: -9999px;
        border-radius: 999px;
        border: none;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.35);
        cursor: pointer; }
        main aside .field--name-field-death-certificate-image .slick-slider .slick-dots li button[aria-label="1 of 1"],
        main aside .paragraph--type--gallery .slick-slider .slick-dots li button[aria-label="1 of 1"] {
          display: none; }
      main aside .field--name-field-death-certificate-image .slick-slider .slick-dots li.slick-active button,
      main aside .paragraph--type--gallery .slick-slider .slick-dots li.slick-active button {
        background-color: white; }

/*# sourceMappingURL=main.css.map */
