.btn {
	border-radius: 0;
    padding: .5rem 1.5rem .5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lg {
	.lg-next,
	.lg-prev {
		&:before,
		&:after {
			content: '';
		}
		
		svg {
			width: 50px;
			
			path {
				fill: white;
			}
		}
	}
}