main {
	width: 100vw;
    height: 100vh;
    
    #map {
	    width: 100vw;
		height: 100vh;
		position: absolute;
		
		.mapboxgl-ctrl-logo {
			pointer-events: none;
		}
		.mapboxgl-ctrl-attrib {
			display: none;
		}
    }
    
    nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(0);
	    
	    &.active {
		    transform: translateX(40vw);
	    }
	    
	    button {
		    display: block;
		    margin: 20px;
		    height: 90px;
		    width: 90px;
		    padding: 15px;
		    background: rgba(#4A3323, 0.9);
		    border: none;
		    transition: 0.5s all;
		    
		    svg {
			    width: 100%;
			    height: auto;
			    
			    path {
				    fill: white;
			    }
		    }
		    
		    &.active {
			    opacity: 0.5;
		    }
		    
		    &#nav-explore {
			    svg {
			    	width: 80%;
			    }
		    }
		    &#nav-search {
			    svg {
			    	width: 80%;
			    }
		    }
		    &#nav-list {
			    svg {
			    	width: 80%;
			    }
		    }
	    }
    }
    
    aside {
		background: rgba(#4A3323, 0.9);
		height: 100vh;
		width: 40vw;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(-40vw);
	    
	    &.active {
		    transform: translateX(0);
	    }
	    
	    h1 {
	    	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
			padding: 24px 30px 25px;
			margin-bottom: 0;
			letter-spacing: 0;
		}
	}
}

#intro,
#outro {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(74,51,35,0.75) 0%, rgba(165,169,58,0.9) 100%);
	z-index: 999;
	text-align: center;
	padding: 300px 200px;
	pointer-events: none;
	
	&.show {
		pointer-events: auto;
	}
	
	h1, h2, h3 {
		color: white;
	}
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		margin-bottom: 120px;
	}
	button {
		background-color: white;
		border: none;
		font-size: 1.4rem;
		padding: 1rem 2.4rem;
		color: #A5AA3A;
		margin: 0 10px;
	}
}
