main {
	width: 100vw;
    height: 100vh;
    
    #map {
	    width: 100vw;
		height: 100vh;
		position: absolute;
		
		.mapboxgl-ctrl-logo {
			pointer-events: none;
		}
		.mapboxgl-ctrl-attrib {
			display: none;
		}
    }
    
    nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(0);
	    
	    &.active {
		    transform: translateX(40vw);
	    }
	    
	    button {
		    display: block;
		    margin: 20px;
		    height: 110px;
		    width: 110px;
		    padding: 15px;
		    background: rgba(#4A3323, 0.9);
		    border: none;
		    transition: 0.5s all;
		    
		    color: white;
		    text-transform: uppercase;
		    font-size: 0.5rem;
		    font-weight: 700;
		    letter-spacing: 1px;
		    text-align: center;
		    
		    &:hover, &:focus, &:active {
			    background: rgba(#4A3323, 1);
			    cursor: pointer;
		    }
		    
		    svg {
			    width: 100%;
			    height: auto;
			    margin-bottom: 10px;
			    
			    path {
				    fill: white;
			    }
		    }
		    
		    &.active {
			    opacity: 0.5;
		    }
		    
		    &#nav-explore {
			    svg {
			    	width: 70%;
			    }
		    }
		    &#nav-search {
			    svg {
			    	width: 70%;
			    }
		    }
		    &#nav-list {
			    svg {
			    	width: 70%;
			    }
		    }
	    }
    }
    
    aside {
		background: rgba(#4A3323, 0.9);
		height: 100vh;
		width: 40vw;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(-40vw);
	    
	    &.active {
		    transform: translateX(0);
	    }
	    
	    h1 {
	    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			padding: 24px 30px 25px;
			margin-bottom: 0;
			letter-spacing: 0;
		}
	}
}

#intro,
#outro {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(90deg, rgba(74,51,35,0.75) 0%, rgba(165,169,58,0.9) 100%);
	z-index: 999;
	text-align: center;
	padding: 300px 200px;
	pointer-events: none;
	
	&.show {
		pointer-events: auto;
	}
	
	h1, h2, h3 {
		color: white;
	}
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		margin-bottom: 120px;
	}
	button {
		background-color: white;
		border: none;
		font-size: 1.4rem;
		padding: 1rem 2.4rem;
		color: #A5AA3A;
		margin: 0 10px;
		transition: 0.5s all;
		
		&:hover, &:focus, &:active {
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			transform: translateY(-10px);
		}
	}
	
	.kiosk & .footer {
		display: none;
	}
}

.lg {
	.lg-sub-html {
		padding: 10px 300px;
	}
	.lg-toolbar {
		.lg-icon {
		    font-size: 48px;
		    height: 60px;
		    padding: 20px 0;
		    width: 60px;
		}
	}
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.35);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.35); 
}
