main {
	width: 100vw;
    height: 100vh;
    
    #map {
	    width: 100vw;
		height: 100vh;
		position: absolute;
		
		.mapboxgl-ctrl-logo {
			pointer-events: none;
		}
		.mapboxgl-ctrl-attrib {
			display: none;
		}
    }
    
    nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(0);
	    
	    &.active {
		    transform: translateX(33vw);
	    }
	    
	    button {
		    display: block;
		    margin: 20px;
		    height: 90px;
		    width: 90px;
		    padding: 15px;
		    background: rgba(0,0,0,0.85);
		    border: none;
		    transition: 0.5s all;
		    
		    svg {
			    width: 100%;
			    height: auto;
			    
			    path {
				    fill: white;
			    }
		    }
		    
		    &.active {
			    opacity: 0.5;
		    }
		    
		    &#nav-explorer {
			    svg {
			    	width: 90%;
			    }
		    }
		    &#nav-search {
			    svg {
			    	width: 80%;
			    }
		    }
		    &#nav-list {
			    svg {
			    	width: 80%;
			    }
		    }
	    }
    }
    
    aside {
		background: rgba(#4A3323, 0.85);
		height: 100vh;
		width: 33vw;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 9;
	    transition: 0.5s all;
	    transform: translateX(-33vw);
	    
	    &.active {
		    transform: translateX(0);
	    }
	    
	    h1 {
	    	border-bottom: 1px solid gray;
			padding: 24px 20px 25px;
			margin-bottom: 0;
			letter-spacing: 0;
		}
	}
}

#intro {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.65);
	z-index: 999;
	text-align: center;
	padding: 300px 200px;
	
	h1, h2, h3 {
		color: white;
	}
	h1 {
		margin-bottom: 40px;
	}
	h2 {
		margin-bottom: 120px;
	}
	
	.footer {
		.kiosk & {
			display: none;
		}
		
		address {
			color: white;
			
			.btn {
				color: black;
			}
		}
	}
}
